<a href="{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}" role="button" class="btn btn-default btn-sm"><i class="fa fa-times"></i> Cancelar</a>
{%- if ('delete' in actions) and (not hide_delete) %}
  <p>
    {{ '{{ form_start(delete_form, {"attr":{"id":"delete"}}) }}' }}
{%- endif %}

{%- if ('edit' in actions) and (not hide_edit) %}
    <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}" role="button" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Editar</a>
{%- endif %}

{%- if ('delete' in actions) and (not hide_delete) %}
    <button class="btn btn-danger btn-sm" type="submit"><i class="fa fa-trash-o"></i> Borrar</button>
  </p>
{% endif %}

{%- if ('delete' in actions) and (not hide_delete) %}

<div id="delete_confirm" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Borrar registro</h3>
            </div>
            <div class="modal-body">
                <p>Está por borrar el registro. Este proceso es irreversible.</p>
                <p>¿Desea continuar?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger">Si, borrar</button>
                <button class="btn btn-secondary" data-dismiss="modal">No, cancelar</button>
            </div>
        </div>
    </div>
</div>
<input name="modal" type="hidden" value="0">
{{ '{{ form_end(delete_form) }}' }}
{%- endif %}
