{% use "form_div_layout.html.twig" %}
{% form_theme form _self %}    

{% block widget_attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ full_name }}"
    {%- if read_only %} readonly="readonly"{% endif -%}
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- if max_length %} maxlength="{{ max_length }}"{% endif -%}
    {%- if pattern %} pattern="{{ pattern }}"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrname in ['class'] -%}
            {{- attrname }}="form-control {{ attrvalue|trans({}, translation_domain) }}"            
        {%- elseif attrvalue is sameas(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{% endspaceless %}
{% endblock widget_attributes %}

{% block form_widget_simple %}
{% spaceless %}
     {% set errorClass = "" %} 
     {% if errors|length > 0 %}
        {% set errorClass = "has-error" %}   
     {% endif %}
    <div class="form-group {{errorClass}}">
        {% set type = type|default('text') %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ '')|trim}) %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{% endspaceless %}
{% endblock form_widget_simple %}

{% block textarea_widget %}
{% spaceless %}    
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea_widget %}

{% block date_widget -%}
    <div class="input-group date">
        
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' ')|trim}) %}
        <input type="text"  {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>

    <div class="input-group-addon">        
        <i class="fa fa-calendar"></i>
    </div>
</div>
{%- endblock date_widget %}

{% block checkbox_widget -%}
    {% set parent_label_class = parent_label_class|default('') -%}
    {% if 'checkbox-inline' in parent_label_class %}
        {{- form_label(form, null, { widget: parent() }) -}}
    {% else -%}
        <div class="checkbox">
            {{- form_label(form, null, { widget: parent() }) -}}
        </div>
    {%- endif %}
{%- endblock checkbox_widget %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}   
            <br>     
            {% for error in errors %}                
                <label class="label-error" for="inputError"><i class="fa fa-times-circle-o"></i> {{ error.message }}</label>
            {% endfor %}
        
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
